* {
    padding: 0;
    margin: 0;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 1920px;
    margin: 0 auto;
}

.slider {
    height: 169px;
    background-color: #f7f7f7;
    padding-top: 13px;
    position: relative;
}


/*---------------------------------------------------------------------------------------------*/

.header {
    height: 90px;
    background-color: #000000;
    opacity: 0.7;
    color: white;
    font-family: "Roboto Condensed";
}

.header ul {
    float: right;
}

.header ul li {
    float: left;
    list-style-type: none;
}

.historical-games {
    padding-left: 475px;
    padding-top: 19px;
    /*    padding-right: 158px;*/
    float: left;
}

.historical {
    color: #ffffff;
    font-family: Poppins;
    font-size: 36px;
    font-weight: 500;
    line-height: 22.36px;
    text-align: left;
    letter-spacing: 0.77px;
}

.games {
    padding-top: 5px;
    padding-left: 1px;
    color: #ffffff;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 31.0px;
}

.header-search {
    padding-right: 489px;
    padding-top: 23px;
    padding-bottom: 22px;
    flex-wrap: wrap;
}

.search-list {
    border: 1px solid white;
}

.header-search input {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 17px;
    font-weight: 400;
    margin: 0;
    border: 0px;
    height: 36px;
    background-color: transparent;
    box-sizing: border-box;
    width: 140px;
}

.header-search input::placeholder {
    color: #ffffff;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.36px;
}

.header-search input:focus,
.header-search input:active {
    /*        border: 0px;*/
    outline: none;
}

.search-list.i {
    display: inline-block;
    padding-left: 17px;
    padding-right: 15px;
    padding-top: 9px;
    padding-bottom: 4px;
    box-sizing: border-box;
}

.header-contact-list.one {
    padding-top: 32px;
    padding-right: 100px;
    padding-left: 14px;
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 0.36px;
}

.header-contact-list .header-email {
    padding-top: 33px;
}

.header-contact-list .phone {
    padding-top: 27px;
    padding-right: 14px;
}

.header-contact-list.three {
    padding-top: 32px;
    padding-right: 39px;
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 0.36px;
}

.header-contact {}


/*---------------------------------------------------------------------------------------------*/

.menu {
  width: 1920px;
  border-bottom: 1px solid black;
  height: 78px;
  font-family: 'Roboto Condensed', sans-serif;
  position: absolute;
  text-align: center;
}
.menu ul {
  display: inline-block;
}
.menu-list {
  list-style-type: none;
  float: left;
  padding-top: 32px;
  padding-bottom: 25px;
  margin-left: 6px;
}
.menu-link {
  color: #8c8c8c;
  font-family: "Roboto Condensed";
  font-size: 17px;
  font-weight: 400;
  letter-spacing: normal;
  text-decoration: none;
  padding: 10px 10px;
  text-align: center;
  letter-spacing: 0.36px;
}
.menu-link-active a {
  margin-left: 0;
  color: black;
}
.menu-list.menu-link-active {
  border-bottom: 3px solid black;
}
.menu-link:hover {
  color: black;
}
.menu ul:hover .menu-link.active-link {
  color: #8c8c8c;
}
.menu ul .menu-list.menu-link-active .menu-link.active-link:hover {
  color: black;
}
.menu-link:active,
.menu ul .menu-list.menu-link-active .menu-link.active-link:active {
  color: #2a2d4d;
}
